body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
 font-size: 62.5%;
}

#hero{
    width: 59.2rem;
    margin: 0 auto 7.2rem;
}

#hero img{
    margin-bottom: 7.2rem;
}

h1{
    font-family: 'Inter', sans-serif;
    font-size: 4.9rem;
    line-height: 5.6rem;
    

    margin-bottom: 3.2rem;
}

h1 span {
    font-weight: bold;
}


span, a{
    color: #FF9900;
    
}

p, #footer {
    color: #7D7987;
    font-size: 1.4rem;
    line-height: 2.8rem;
}

#footer a+a {
    margin-left: 2.8rem;
    font-size: 1.4rem;
}

#line {
    width: 56.8rem;
    height: 0;
    border-top: 1px solid #ECEFF2;
    margin: 0 auto 0.8rem;

}

#balls {
    position: fixed;
    bottom: 0rem;
    right: 0rem;
}